<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clone Trello</title>
</head>

<body>
    <header><img src="/trello.png" alt="">Trello</header>
    {{#if showTests}}
    <link rel="stylesheet" href="/vendor/mocha.css">
    {{/if}}
    {{{body}}}
    {{#if showTests}}
    <div id="mocha"></div>
    <script src="/vendor/mocha.js"></script>
    <script src="/vendor/chai.js"></script>
    <script>
        mocha.ui('tdd')
        let assert = chai.assert
    </script>
    <script src="/qa/testGlobal.js"></script>
    {{#if pageTest}}
    <script src="{{pageTest}}"></script>
    {{/if}}
    <script>
        mocha.run()
    </script>
    {{/if}}
</body>

</html>